
*{
    padding: 0;

    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.main-content{
/*     padding: 50px 100px; */
    display: grid;
    /* height: 1000px; */
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    /* border: 1px solid black; */
    grid-template-columns: 300px 700px;
}
.left-section{
background-color: black;
 /* grid-column-start: span 300px;  */
 color: white;
 grid-column: span 1;
}
.right-section{

/* width: 90%; */
/*     width: 100%; */
/*     padding: 0px; */
/* grid-column-start: span 700px; */
grid-column: span 1/ span 2;
}
 
.left-content{
    padding: 1rem;
}
.profile-image{
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size:1.2rem ;
    font-weight:700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.contact-item{
    text-align: center;
}
 
.social-media{
    display: flex;
    justify-content: space-around;
}

.skills{
    font-size: 18px ;
    text-align: center;
    text-transform: uppercase;
    /* padding: 1rem 0.5rem; */
}
.skill-item{
    margin-bottom: 15px;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    /* padding-bottom: 0.5rem; */
    margin-bottom: 2px;
}
.progress-bar{
    height: 10px;
    border: 1px solid white;
    border-radius: 3px;
    outline: none;
    width: 80%;
}
.right-main-content{
    padding:2rem 3rem;
    width: 100%;
    
}
.about-section{
    margin-bottom: 20px;
    margin-left:0px;
    width: 100%;
}
.education-section{
    margin-bottom: 20px;
     margin-left:0px;
    width: 100%
    
}
.experience-section{
    
     margin-bottom: 20px;
     margin-left:0px;
    width: 100%;
    }
    .project-section{
    margin-bottom: 20px;
         margin-left:0px;
        width: 100%

}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    /* padding:0.5rem; */
    margin-bottom: 10px;
    /* letter-spacing: 1px; */
}
.para{
    text-align: justify;
    font-size: 18px;
}
.ed-container{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 673px){
.main-content{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    min-height: 1000px;
    margin : 0px;
    padding : 0px;
}
    .right-section{
        width: 100%;
        padding: 0;
        margin : 0;
    
    }
}
ul li{
    /* list-style-type: none; */
 
}
